.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid #000;
    padding: 15px;
    background-color: yellowgreen;
    color: greenyellow;
}

.callout img {
    float: right;
    margin: 10px;
    border: 1px solid #000;
    padding: 5px;
    background-color: #fff;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 20px;

}

cite {
    display: block;
    border-top: 1px solid #999;
    padding-top: 10px;
    text-align: right;
    font-size: 0.8em;
}